h1 {
    color: mediumseagreen;
    font-size: 25px;
    font-family: arial;
}

div {
    background-color: lightgray;
    font-font: arial;
}

body {
    background-color: darkgray;
}

#special {
    color: purple;
    font-size: 20px;
    font-family: arial;
}